title: Talking Dudes
organizationName: Talking Dudes
podcastSubtitle:
managerName: Adam Harris
managerEmail: aharris88@gmail.com
squareLogo: assets/uploads/logo.jpg
description: "A podcast with two dudes talking. Season 2 is all about emotions and relationships from the perspective of two Christian men. Season 1 was just two dudes talking about whatever: technology, movies, and life."
baseurl: ""
url: "http://www.talkingdudes.com"

# Google analytics
google_analytics: UA-31980509-10

# Optional features
animated:           false
show_related_posts: false
show_post_footers:  false

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname:

# Social icons
show_social_icons: false
github_username:
stackoverflow_id:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Post sharing icons
show_sharing_icons: false
share_text: 'Share this post!'
# Change to 'true' to enable individual icons
share_facebook: false
share_twitter: false
share_googleplus: false
share_linkedin: false
share_digg: false
share_tumblr: false
share_reddit: false
share_stumbleupon: false
share_hackernews: false

# Build settings
permalink: /:title
paginate:     3
sass:
  compressed: true
gems:
  - jekyll-paginate
